@charset "ISO-8859-1";

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: red;
	background-image: url(/images/marvel_dc_categories_background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.singleHeroReview {
	text-align: center;
}

.singleHeroReview #alias {
	background: #ADD8E6;
	max-width: 50%;
	margin: auto;
}

.singleHeroReview #image {
	max-width: 50%;
}

.singleHeroReview #review {
	background: #ADD8E6;
}

.singleHeroReview #tags {
	background: #ADD8E6;
	max-width: 50%;
	margin: auto;
	display: inline;
}

.category-container {
	text-align: center;
	margin: 10px;
	color: #FF0000;
}

.repeatimage {
	display: block;
	margin: auto;
	width: 40%;
}

header {
	grid-column: 1/3;
	grid-row: 1/2;
	text-align: center;
	color: #FF0000;
	text-shadow: 3px 2px white;
}

.reviews {
	display: grid;
	grid-template-rows: 33% 33% 33%;
	margin: 10px;
	color: #FF0000;
}

.individualreview {
	display: block;
	margin: auto;
	width: 50%;
}

.individualreview #image {
	max-width: 100%;
	grid-column: 1/3;
	grid-row: 2;
}

h2 {
	font-size: 28px;
}

a:link {
	color: #FF0000;
}

a:visited {
	color: white;
}

a:hover {
	color: yellow;
}

a:active {
	color: white;
}

footer {
	font-size: 20px;
	text-align: center;
	background: #00008B;
	border-top: 4px solid red;
}

p {
	font-size: 20px;
	line-height: 1.5em;
}