<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Super Heroes</title>

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

</head>

<body>

	<div class="categorymenu">

		<header>

			<h1>Hero Collective</h1>

		</header>

		<section class="category-container">

			<a th:each="category: ${modelCategories}"
				th:href="@{/allreviews?(id=${category.id})}"> <img
				class="repeatimage" id="category-image"
				th:src="${category.categoryImage}" style="width: 50%;" /></a>

		</section>

	</div>

</body>

</html>