<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Cheap Food</title>

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

</head>

<body>

	<div class="grid">

		<header>

			<h1>Chosen category heros</h1>

			<h2>Chose a hero</h2>

		</header>
		<!-- this needs an IF statement to iterate the different reviews per category called upon -->

		<section class="reviews">

			<div class="individualreview" th:each="review: ${modelReviews}">

				<a th:href="@{'/review?id=' + ${review.id}}"><p id="hero"
						th:text="${review.hero}" /></a> <img id="image"
					th:src="${review.imageUrl}" />

			</div>

		</section>

	</div>

	<footer>
		<a th:href="@{'/categories'}">Home</a>
	</footer>

</body>

</html>