<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Cheap Food</title>

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

</head>

<body>

	<div class="grid">

		<header>

			<h1>Chose a Hero</h1>

		</header>

		<section class="reviews">

			<div class="individualreview">

				<a th:each="review: ${modelCategory.reviews}"
					th:href="@{/review?(id=${review.id})}"> <img id="image"
					th:src="${review.imageUrl}" /></a>

			</div>

		</section>

	</div>

	<footer>
		<a th:href="@{'/categories'}">Home</a>
	</footer>

</body>

</html>